.root {
    align-items: center;
    width: 100%;
    font-family: 'Rubik', sans-serif;
}

.rv-xy-plot__grid-lines__line {
    stroke: rgb(228, 219, 219);
    stroke-width: 1;
}

.fake {
    height: 150px;
}

.lottie {
    align-items: center;
}

.lottie-file {
    display: inline-block;
    margin: auto;
}

.details {
    border-radius: 10px;
    padding: 8px;
    background: rgb(37, 74, 177);
}


